:host {
  display: block;
  min-height: 50px;
  min-width: 150px;
  border: 1px solid black;

  &.not-initialized {
    background: gray;
  }

  &.success {
    background: green;
  }

  &.failure {
    background: red;
  }
}

.caption-wrap {
  text-align: center;
}
