:host {
  display: block;
  min-height: 50px;
  min-width: 350px;
  border: 1px solid black;

  &.not-initialized {
    background: gray;
  }

  &.success {
    background: green;
  }

  &.failure {
    background: red;
  }
}

.caption-wrap {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}
